Q.1 What are data structures and why are they important?
- Data structure in python are like containers in which we store,process,and retrieve data in specific format.Example of data structure are strings, list,tuple,set,dictionaries and array. Data structures are important to make data accessible,solve complex problem ,manage large amounts of data.

Q.2 Explain the difference between the mutable and immutable data types with examples?
- Mutable data types are the data types which are changable after creations. Example of mutable data types are list, set etc
Immutable data types are the data types which are not changable after creations.
example of immutable data types tuple,strings,etc.

Q.3 What are the main difference between list and tuples in Python?
- List is a data type in which data is stored in square bracket,list are odered,changable and allow dublicates values. Items in list are indexed.
Tuple is also one of the built in data structures of python which are odered,unchangable, and allow dublicates values. They are formed in small brackets.Items in tuples are also indexed.

Q.4 Define how dictionaries store data.
- Dictionaries store data in curly bracket{}.The data stores in dictionary in the form of key and values.Every key has its own assigned values. example:
marks = {'Shubham' : 98,'Abhishek' : 99, 'pawan' : 96}

Q.5 Why might you use a set instead of a list in python?
-   Set is more used as compare to list because :
i Uniqueness: set automatically reduces the repeated items in result
ii. mathematical operations : in set we can apply mathematical operations like interjection,union,Difference,symmetric difference. which helps in finding the common and separating the data more easily

Q.6 What is a string in python ,and how is it  different from list?
- String is a type of data structure which is immutable. While list is mutable and store multiple data.

Q.7 How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python due to its immutability property as it did not allow any changes after creation

Q.8 What is hash table ,and how does it relate to dictionaries in Python?
- Hash table is a data structure which saves the data in the form of keys and values and python dictionaries are implemented as hash tables .The keys in a Python dictionary are hashable , meaning they are generated by a hash function

Q.9 Can list contain different data types in Python?
- Yes , list can contain different data types in Python .List can contain strings,boolean,integer,float,list,etc.

Q.10 Explain why strings are immutable in Python?
- As we know that the string is immutable means that it in unchangable after creations. Strings are indexed we can change get the value of indexed number but can't change or replace the value.If we try than it shows error.

Q.11 What advantages do dictionaries offer over lists for certain tasks?
- Dictionary stores data in the form of key and value while list stores data in linear form data is more easily assible in dictionaries by just giving the value of key.

Q.12 Describe a scinerio where using a tuple would be preferable over a list.
- Use tuple when you need a immutable collection where  the elements won't change after creations.Tuples are generally more efficient than lists, making them better for fixed collections.

Q.13 How do set handle duplicate values in Python?
- set automatcally reduces the duplicate items in the result thats how the set handle duplicate values in Python.

Q.14 How does "in" keyword work differently for lists and dictionaries ?
- The in keyword in the list is used to find the value exists within the list or not . If it exists than return true if not than false.while the in keyword in dictionary is use to find the spacific key exists in dictionary or not.

Q.15 Can you modify the elements of a tuple ? explain why or why not.
- No, elements can not be modify of a tuple because tuple is a immutable it cannot be change after creation.

Q.16 What is a nested dictionary , and give an example of its use case ?
- A nested dictionary is a kind of dictionary which contains one or more dictionaries as its values .It is use to create hierarchical data structures.

Q.17 Describe the time complexity of accessing elements in a dictionary?
- Accessing an element in a dictionary has an average time complexity  of O(1)
.This means that the tne taken to  retrive a value based on  key is constant, regardless the size of the dictionary.

Q.18 In what situations are lists prefered over dictionaries?
- list prefered over dictionaries when-
i.when the elements in crucial, list are the natural choice.
ii.If you need to store multiple occurrences of the same value , a list is apporiate
iii.If you need to access elements based on their position or index ,list are straightforward.

Q.19 Why are dictionaries considered unordered and how does that affect data retrival?
- Dictionaries are considered unordered because they don't maintain a sequence for their key value pairs. The order in which you insert items into a dictionary doesn't necessarily dictate the order in which they'll be retreved.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval?
- List is a collection which is ordered and changeable.Allows duplicate members.
Dictionary is a collection which is ordered and changeable.No duplicate members.

# PRATICAL QUESTIONS

In [ ]:
# @title Q.1 Write s code to create a string with your name and print it.



a = "shubham"
print(a)

shubham

In [ ]:
# @title Q.2 Write a code to find the length of the string "Hello World"


b = "hello World"
print(len(b))

11

In [ ]:
# @title Q.3 Write a code to slice the first 3 characters from the string "Python Programming".

a = "python programming"
print(a[2:])

thon programming

In [ ]:
# @title Q.4 Write a code to convert a the string "hello" to uppercase.

x = "hello"
print(x.upper())

HELLO

In [ ]:
# @title Q.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "i like apple"
print(a.replace("apple","orange"))

i like orange

In [ ]:
# @title Q.6 Write a code to create a list with  number 1 to 5 and print it.

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# @title Q.7 Write a code to append the number 10 to the list [1,2,3,4,5]

list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
# @title Q.8 Write a code to remove the number 3 from the list "[1,2,3,4,5]"

list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [ ]:
# @title Q.9 Write a code to access the second element in the list'['a','b",'c','d']'


list3 = ['a','b','c','d']
print(list3[1])

b

In [ ]:
# @title Q.10 Write a code to reverse the list '[10,20,30,40,50]'

list4 = [10,20,30,40,50]
list4.reverse
print(list4)

[10, 20, 30, 40, 50]

In [ ]:
# @title Q.11 Write a code to create a tuple with the element 10,20,30 and print it.

a =(10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
# @title Q.12 Write a code to access the first element of the tuple ('apple','banana','cherry').
tuple1 = ('apple','banana','cherry')
print(tuple1[0])

apple

In [ ]:
# @title Q.13 Write a code to count how many times the 2 appears in the tuple (1,2,3,2,4,2).
tuple2 = (1,2,3,2,4,2)
a = tuple2.count(2)
print(a)

3

In [ ]:
# @title Q.14 Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
tuple3 = ('dog','cat','rabbit')
print(tuple3.index('cat'))

2

In [ ]:
# @title Q.15 Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
tuple4 = ('apple','orange','banana')
'banana' in tuple4

True

In [ ]:
# @title Q.16 Write a code to create a set with the elements 1,2,3,4,5 and print it.
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# @title Q.17 write a code to add  the element 6 to the set {1,2,3,4}.
set2 = {1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [ ]:
# @title Q.18 Write a code to create a tuple with the element 10,20,30 and print it.

a =(10,20,30)
print(a)
print(type(a))

{10, 20, 30}

In [ ]:
# @title Q.19 Write a code to access the first element of the tuple ('apple','banana','cherry').
tuple1 = ('apple','banana','cherry')
print(tuple1[0])

apple

In [ ]:
# @title Q.20 Write a code to count how many times the 2 appears in the tuple (1,2,3,2,4,2).
tuple2 = (1,2,3,2,4,2)
a = tuple2.count(2)
print(a)

3

In [ ]:
# @title Q.21 Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
tuple3 = ('dog','cat','rabbit')
print(tuple3.index('cat'))

In [ ]:
# @title Q.22 Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
tuple4 = ('apple','orange','banana')
'banana' in tuple4

In [ ]:
# @title Q.23 Write a code to create a set with the elements 1,2,3,4,5 and print it.
set1 = {1,2,3,4,5}
print(set1)

In [ ]:
# @title Q.24 write a code to add  the element 6 to the set {1,2,3,4}.
set2 = {1,2,3,4}
set2.add(6)
print(set2)